html, body, div {
  margin: 0px;
  padding: 0px;
}
div.title {
  font-family: sans-serif;
  font-size: 80px;
  margin: 0px auto;
  width: 500px;
  padding: 10px;
  text-align: center;
  border: 1px solid red;
}
div.viewer {
  text-align: center;
  border: 10px solid black;
  width: 260px;
  height: 120px;
  overflow: hidden;
  margin: 0px auto;
}
div.button {
  text-align: center;
  padding: 20px;
  border: 1px solid red;
}
button#btn-pull {
  width: 120px;
  height: 40px;
  font-size: 20px;
}
div#result {
  width: 260px;
  height: 80px;
  margin: 0px auto;
  text-align: center;
  font-family: sans-serif;
  font-size: 40px;
  padding-top: 40px;
  border: 1px solid red;
}
button#btn-reset {
  width: 140px;
  height: 40px;
  font-size: 20px;
}
div.reel {
  position: relative;
  display: inline-block;
}
div#reel-1 {
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 10;
  -webkit-animation-timing-function: linear;
}
div#reel-2 {
  /*margin: 0px 10px;*/
  border-width: 0px 10px;
  border-style: solid;
  border-color: black;
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 20;
  -webkit-animation-timing-function: linear;
}
div#reel-3 {
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 30;
  -webkit-animation-timing-function: linear;
}
@-webkit-keyframes slideDown {
  from {
    top: -300px;
  }
  to {
    top: -60px;
  }
}
@-moz-keyframes slideDown {
  from {
    top: -300px;
  }
  to {
    top: -60px;
  }
}
div.reel-item {
  padding-top: 15px;
  width: 80px;
  height: 65px;
  font-size: 40px;
  font-weight: bold;
  font-family: sans-serif;
  color: white;
  text-align: center;
}
div.one {
  background-color: red
}
div.two {
  background-color: blue
}
div.three {
  background-color: green
}