html, body, div {
  margin: 0px;
  padding: 0px;
}
div.title {
  font-family: 'Candal', sans-serif;
  background-color: #006633;
  color: white;
  font-size: 80px;
  margin: 0px auto;
  padding-bottom: 10px;
  text-align: center;
  border: 10px double white;
  width: 660px;
}
div.viewer {
  text-align: center;
  border: 10px double #006633;
  width: 380px;
  height: 180px;
  overflow: hidden;
  margin: 30px auto;
}
div.button-container {
  text-align: center;
  margin: 30px;
}
div.button-container > div {
  display: inline-block;
}
div.button {
  text-align: center;
  padding: 0px 15px;
}
button#btn-pull {
  width: 150px;
  height: 40px;
  font-size: 20px;
}
div#result-display {
  height: 80px;
  text-align: center;
  font-family: 'Candal', sans-serif;
  font-size: 40px;
  color: #006633;
}
button#btn-reset {
  width: 150px;
  height: 40px;
  font-size: 20px;
}
div.reel {
  position: relative;
  display: inline-block;
}
div#reel-1 {
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 6;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: slideDown;
  -moz-animation-duration: 0.25s;
  -moz-animation-iteration-count: 6;
  -moz-animation-timing-function: linear;
}
div#reel-2 {
  border-width: 0px 10px;
  border-style: double;
  border-color: #006633;
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 12;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: slideDown;
  -moz-animation-duration: 0.25s;
  -moz-animation-iteration-count: 12;
  -moz-animation-timing-function: linear;
}
div#reel-2-temp {
  border-width: 0px 10px;
  border-style: double;
  border-color: #006633;
}
div#reel-3 {
  -webkit-animation-name: slideDown;
  -webkit-animation-duration: 0.25s;
  -webkit-animation-iteration-count: 18;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: slideDown;
  -moz-animation-duration: 0.25s;
  -moz-animation-iteration-count: 18;
  -moz-animation-timing-function: linear;
}
@-webkit-keyframes slideDown {
  from {
    top: -450px;
  }
  to {
    top: -90px;
  }
}
@-moz-keyframes slideDown {
  from {
    top: -450px;
  }
  to {
    top: -90px;
  }
}
div.reel-item {
  width: 120px;
  height: 120px;
}
div.left-one {
  background-image: url(../images/left-coffee.jpg);
}
div.left-two {
  background-image: url(../images/left-espresso.jpg);
}
div.left-three {
  background-image: url(../images/left-tea.jpg);
}
div.middle-one {
  background-image: url(../images/middle-coffee.jpg);
}
div.middle-two {
  background-image: url(../images/middle-espresso.jpg);
}
div.middle-three {
  background-image: url(../images/middle-tea.jpg);
}
div.right-one {
  background-image: url(../images/right-coffee.jpg);
}
div.right-two {
  background-image: url(../images/right-espresso.jpg);
}
div.right-three {
  background-image: url(../images/right-tea.jpg);
}